<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <title>login</title>
</head>
<body>  
<style>.errorlist{color:red;}</style>
<main role="main" color:#25BEF3 >
  <div class="container">
    {% if 'register' in request.GET %}
       <h2 style="color:whitesmoke;">Usuario registrado correctamente, ya puedes identificarte.</h2>
    {% endif %}
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="" method="post">{% csrf_token %}
        {% if form.non_field_errors %}
          <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
        {% endif %}
        <p>
          <input type="text" name="username" autofocus maxlength="254" required
            id="id_username" class="form-control" placeholder="Nombre de usuario"/>
        </p>
        <p>
          <input type="password" name="password" required
            id="id_password" class="form-control" placeholder="Contraseña"/>
        </p>
        <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
      </form>
    </div> 
   </div>
  </main>
 </body>
</html>




